astroid==2.3.3
colorama==0.4.3
cssselect2==0.2.2
cycler==0.10.0
distro==1.4.0
environs==7.3.0
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
marshmallow==3.5.1
matplotlib==3.2.0
mccabe==0.6.1
numpy==1.18.1
pandas==1.0.1
pathtools==0.1.2
Pillow==7.0.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
reportlab==3.5.34
selenium==3.141.0
six==1.14.0
svglib==0.9.3
tabula-py==2.0.4
tinycss2==1.0.2
typed-ast==1.4.1
urllib3==1.25.8
watchdog==0.10.2
webencodings==0.5.1
wrapt==1.11.2
